body{
    background-color: #FCFCFC;
    overflow: hidden;
}

.div-principal{
    text-align: center;
    position: relative;
    top: 100px;
    left: 340px;
    width: 600px;
    height: 530px;
    background-color: white;
    border-radius: 20px;
    -webkit-box-shadow: 2px 2px 5px #999;
    -moz-box-shadow: 2px 2px 5px #999;
}

.img-BigLogo{
    position: absolute;
    top: 30px;
    left: 32px;
    width: 300px;
    height: 120px;
}

.h2-login{
    position: absolute;
    top: 35px;
    left: 48%;
    font-family: Avenir;
    color: #2A878F;
}

.img-doctor{
    position: relative;
    top: 150px;
    left: -20px;
    width: 120px;
    height: 100px;
}

.img-patient{
    position: relative;
    top: 150px;
    left: 35px;
    width: 120px;
    height: 100px;
}

.h2-CreateAccount{
    position: absolute;
    top: 35px;
    left: 43%;
    font-family: Avenir;
    color: #2A878F;
}

.div-signup{
    position: absolute;
    left:12%;
    top:48%;
}

.div-get{
    position: absolute;
    left:12%;
    top:48%;
}

.input-doctor{
    position: absolute;
    left:100px;
}

.label-doctor{
    position: absolute;
    left:130px;
    font-family: Helvetica;
    color: #2A878F;
}

.input-patient{
    position: absolute;
    left:280px;
    top: 1px;
}

.label-patient{
    position: absolute;
    left:310px;
    top: 1px;
    font-family: Helvetica;
    color: #2A878F;
}

.input-email{
    position: absolute;
    left: 90px;
    top: 50px;
    width: 280px;
}

.input-password{
    position: absolute;
    left: 90px;
    top: 80px;
    width: 280px;
}

.button-SigUpSubmit{
    position: absolute;
    left: 89px;
    top: 150px;
    width: 285px;
    border: none;
    background: #3C4F6D;
    color: #ffffff !important;
    font-weight: 100;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    outline: none;
}

.button-SigUpSubmit:hover {
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
    outline: none;
}

.p-noAccount{
    position: absolute;
    left:95px;
    top: 90px;
    font-family: Helvetica;
    font-size: 15px;
}

.button-signup{
    position: absolute;
    left:175px;
    top: 104px;
    font-size: 15px;
    color: blue;
    background: transparent;
    border: transparent;
}