#headTitle{
     /*background-color: #F39C12;*/
     margin: 5px 20px 5px 20px;
     padding: 10px 10px 40px 10px;
}#userImg{
      width: 64px;
      height: 64px;
      float: right;
      margin: 5px 20px 5px 20px;
      padding: 10px 10px 40px 10px;
 }#title{
       text-align: center;
 }
#addBtn {
      background-color:#76D7C4; /* Boton de agregar */
      border: none;
      color: white;
      margin: 10px 20px;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      border-radius: 8px;
      float: right;
      outline: none;
}
#Editors{
      /*background-color: #F39C12;*/
      margin: 100px 20px 5px 20px;
      padding: 10px 10px 70px 10px;
}
#whoTitle{
      background-color: #0C182B;
      margin: 5px 20px 5px 20px;
      padding: 10px 10px 10px 10px;
      color: white;
      font-family: Arial;
}
#doctors{
      background-color: white;
      margin: 5px 20px 5px 20px;
      padding: 10px 10px 200px 10px;
      outline: none;
}
#docImg {
      float: left;
      width: 32px;
      height: 32px;
      margin: 0px 10px 5px 10px;
      /*padding: 5px;*/
}
.grid-container {
     display: grid;
     grid-template-columns: auto auto auto auto;
     padding: 10px;
}
.grid-item {
    /*background-color: #F0B27A;*/
     border: 1px solid white;
     padding: 20px;
     border-bottom-color: black;
     font-size: 20px;
     text-align: center;
}
#docInfo{
     float: left;
     display: none;
     margin: 0px 10px 5px 10px;
     padding: 10px 10px 60px 20px;
     background-color: white;
    /*width: 100%;*/
}
.info{
     padding: 10px 20px;
     margin: 20px 10px 20px 10px;
     float: right;
     border: 1px solid #ccc;
     border-radius: 4px;
     box-sizing: border-box;
     float: right;
}
#AddDoc{
     background-color: #48C9B0;
     color: white;
     padding: 14px 20px;
     margin: 8px 0;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     float: right;
}
/*delete---------------------------------------------*/
/** {box-sizing: border-box}*/

/* Set a style for all buttons */
#delPop {
     background-color: #4CAF50;
     color: white;
     padding: 14px 20px;
     margin: 8px 0;
     border: none;
     cursor: pointer;
     width: 60%;
     opacity: 0.9;
     float: right;
}
.cancelbtn, .deletebtn {
     float: left;
     width: 50%;
}
.cancelBtn {
     background-color: #ccc;
     color: black;
}
.deleteBtn {
     background-color: #f44336;
}

/* Add padding and center-align text to the container */
.container {
     padding: 16px;
     text-align: center;
}

/* The Modal (background) */
.modal {
     display: none; /* Hidden by default */
     position: fixed; /* Stay in place */
     z-index: 1; /* Sit on top */
     left: 0;
     top: 0;
     width: 100%; /* Full width */
     height: 100%; /* Full height */
     overflow: auto; /* Enable scroll if needed */
     background-color: #474e5d;
     padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
     background-color: #fefefe;
     margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
     border: 1px solid #888;
     width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
     border: 1px solid #f1f1f1;
     margin-bottom: 25px;
}
.close {
     position: absolute;
     right: 35px;
     top: 15px;
     font-size: 40px;
     font-weight: bold;
     color: #f1f1f1;
}

.close:hover, .close:focus {
     color: #f44336;
     cursor: pointer;
}

/* Clear floats */
.clearFix::after {
     content: "";
     clear: both;
     display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
     .cancelbtn, .deletebtn {
          width: 100%;
     }
}
#cancel, #delete{
     color: white;
     padding: 14px 20px;
     margin: 8px 0;
     border: none;
     cursor: pointer;
     width: 50%;
     opacity: 0.9;
}

.img-logo{
     position: absolute;
     top: 26px;
     left: 32px;
     width: 238px;
     height: 100px;
}

.exit {
     position: relative;
     top: 15px;
     left: 96%;
     width: 25px;
     height: 25px;
     opacity: 0.3;
}
.exit:hover {
     opacity: 1;
}
.exit:before, .exit:after {
     position: absolute;
     left: 15px;
     content: ' ';
     height: 25px;
     width: 2px;
     background-color: #FF243B;
}
.exit:before {
     transform: rotate(45deg);
}
.exit:after {
     transform: rotate(-45deg);
}
