/* NAVBAR */
* {
    padding: 0;
    margin: 0;
}
p {
    margin-bottom: 20px;
}
.wrapper {
    width: 80%;
    margin: auto;
    overflow:hidden;
}
header {
    background: #0C182B;
    width: 100%;
    position: fixed;
    z-index: 10;
    opacity: 0.95;
}

nav {
    float: left; /* Desplazamos el nav hacia la izquierda */
}
nav ul {
    list-style: none;
    overflow: hidden; /* Limpiamos errores de float */
}
nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
}
nav ul li button {
    display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
    padding: 18px;

    color: #fff;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
    font-size: 16px;
    outline: none;
}
nav ul li:hover {
    background: #2A878F;
}
.contenido {
    padding-top: 80px;
}


/* NAME-EDIT */
.img-user{
    position: absolute;
    top: 250px;
    left: 250px;
    height: 140px;
    width: 140px;
    vertical-align: text-bottom;
}

.img-logo{
    position: relative;
    height: 55px;
    width: 125px;
}

.label-name{
    position: absolute;
    top:400px;
    left: 235px;
    font-size: 20px;
}

.button-editProfile{
    position: absolute;
    top: 440px;
    left: 235px;
    width: 170px;
}

/* INFO */
.label-DoctorName{
    position: absolute;
    top: 180px;
    left: 650px;
    font-size: 20px;
}

.hr-FirstName{
    position: absolute;
    top: 190px;
    left: 640px;
}

.label-FirstName{
    position: absolute;
    top: 210px;
    left: 650px;
    font-size: 16px;
    color: gray;
}

.label-DoctorLastName{
    position: absolute;
    top: 250px;
    left: 650px;
    font-size: 20px;
}

.hr-LastName{
    position: absolute;
    top: 260px;
    left: 640px;
}

.label-LastName{
    position: absolute;
    top: 280px;
    left: 650px;
    font-size: 16px;
    color: gray;
}

.label-DoctorAge{
    position: absolute;
    top: 320px;
    left: 650px;
    font-size: 20px;
}

.hr-Age{
    position: absolute;
    top: 330px;
    left: 640px;
}

.label-Age{
    position: absolute;
    top: 350px;
    left: 650px;
    font-size: 16px;
    color: gray;
}

.label-DoctorSpeciality{
    position: absolute;
    top: 390px;
    left: 650px;
    font-size: 20px;
}

.hr-speciality{
    position: absolute;
    top: 400px;
    left: 640px;
}

.label-speciality{
    position: absolute;
    top: 420px;
    left: 650px;
    font-size: 16px;
    color: gray;
}

.label-ClinicAddress{
    position: absolute;
    top: 460px;
    left: 650px;
    font-size: 20px;
}

.hr-Address{
    position: absolute;
    top: 470px;
    left: 640px;
}

.label-address{
    position: absolute;
    top: 490px;
    left: 650px;
    font-size: 16px;
    color: gray;
}