body{
    overflow-x: hidden;
}
/*-- EDIT INFO --*/
.img-logo{
    position: absolute;
    top: 15px;
    left: 32px;
    width: 300px;
    height: 120px;
}

img{
    position: absolute;
    top: 60px;
    left: 1190px;
    height: 40px;
    width: 40px;
}

.div-pInformation{
    position: absolute;
    top: 150px;
    width: 1260px;
    height: 30px;
    background-color: #0C182B;
}

.h2-pInformation{
    position: absolute;
    top: -12px;
    left: 10px;
    font-size: 20px;
    font-family: Arial;
    color: white;
}

.div-allergies{
    position: absolute;
    top: 370px;
    width: 1260px;
    height: 30px;
    background-color: #0C182B;
}

.h2-allergies{
    position: absolute;
    top: -12px;
    left: 10px;
    font-size: 20px;
    font-family: Arial;
    color: white;
}

.div-surgery{
    position: absolute;
    top: 490px;
    width: 1260px;
    height: 30px;
    background-color: #0C182B;
}

.h2-surgery{
    position: absolute;
    top: -12px;
    left: 10px;
    font-size: 20px;
    font-family: Arial;
    color: white;
}

.div-deleteB{
    position: absolute;
    top: 690px;
    width: 1260px;
    height: 30px;
    background-color: #0C182B;
}

.h2-delete{
    position: absolute;
    top: -12px;
    left: 10px;
    font-size: 20px;
    font-family: Arial;
    color: white;
}

.div-Info{
    position: absolute;
    top: 200px;
    width: 1260px;
    height: 230px;
}

.input-FirstName{
    position: absolute;
    top:-2px;
    left: 30px;
    width: 240px;
    border-top: gray 1px solid;
    border-bottom: #3FAFB9 2px solid;
    border-left: gray 1px solid;
    border-right: gray 1px solid;
}

.label-FirstName{
    position: absolute;
    top: 20px;
    left: 32px;
    font-family: Avenir;
    font-size: 12px;
}

.input-MiddleName{
    position: absolute;
    top:-2px;
    left:350px;
    width: 240px;
    border-top: gray 1px solid;
    border-bottom: #3FAFB9 2px solid;
    border-left: gray 1px solid;
    border-right: gray 1px solid;
}

.label-MiddleName{
    position: absolute;
    top: 20px;
    left: 352px;
    font-family: Avenir;
    font-size: 12px;
}

.input-LastName{
    position: absolute;
    top:-2px;
    left:670px;
    width: 240px;
    border-top: gray 1px solid;
    border-bottom: #3FAFB9 2px solid;
    border-left: gray 1px solid;
    border-right: gray 1px solid;
}

.label-LastName{
    position: absolute;
    top: 20px;
    left: 672px;
    font-family: Avenir;
    font-size: 12px;
}

.input-birth{
    position: absolute;
    top:-2px;
    left:980px;
    width: 240px;
    border-top: gray 1px solid;
    border-bottom: #3FAFB9 2px solid;
    border-left: gray 1px solid;
    border-right: gray 1px solid;
}

.label-birth{
    position: absolute;
    top: 20px;
    left: 982px;
    font-family: Avenir;
    font-size: 12px;
}

.select-gender{
    position: absolute;
    top:80px;
    left: 30px;
    width: 245px;
    border-top: gray 1px solid;
    border-bottom: #3FAFB9 2px solid;
    border-left: gray 1px solid;
    border-right: gray 1px solid;
}

.label-gender{
    position: absolute;
    top: 103px;
    left: 32px;
    font-family: Avenir;
    font-size: 12px;
}

.select-MaritalStatus{
    position: absolute;
    top:80px;
    left: 350px;
    width: 245px;
    border-top: gray 1px solid;
    border-bottom: #3FAFB9 2px solid;
    border-left: gray 1px solid;
    border-right: gray 1px solid;
}

.label-MaritalStatus{
    position: absolute;
    top: 103px;
    left: 352px;
    font-family: Avenir;
    font-size: 12px;
}

.input-phone{
    position: absolute;
    top:80px;
    left:670px;
    width: 240px;
    border-top: gray 1px solid;
    border-bottom: #3FAFB9 2px solid;
    border-left: gray 1px solid;
    border-right: gray 1px solid;
}

.label-phone{
    position: absolute;
    top: 103px;
    left: 672px;
    font-family: Avenir;
    font-size: 12px;
}

.input-city{
    position: absolute;
    top:80px;
    left:980px;
    width: 240px;
    border-top: gray 1px solid;
    border-bottom: #3FAFB9 2px solid;
    border-left: gray 1px solid;
    border-right: gray 1px solid;
}

.label-city{
    position: absolute;
    top: 103px;
    left: 982px;
    font-family: Avenir;
    font-size: 12px;
}

.input-allergies1{
    position: absolute;
    top:220px;
    left:30px;
    width: 240px;
    border-top: gray 1px solid;
    border-bottom: #3FAFB9 2px solid;
    border-left: gray 1px solid;
    border-right: gray 1px solid;
}

.label-allergies1{
    position: absolute;
    top: 240px;
    left: 32px;
    font-family: Avenir;
    font-size: 12px;
}

.input-allergies2{
    position: absolute;
    top:220px;
    left:350px;
    width: 240px;
    border-top: gray 1px solid;
    border-bottom: #3FAFB9 2px solid;
    border-left: gray 1px solid;
    border-right: gray 1px solid;
}

.label-allergies2{
    position: absolute;
    top: 240px;
    left: 352px;
    font-family: Avenir;
    font-size: 12px;
}

.input-allergies3{
    position: absolute;
    top:220px;
    left:670px;
    width: 240px;
    border-top: gray 1px solid;
    border-bottom: #3FAFB9 2px solid;
    border-left: gray 1px solid;
    border-right: gray 1px solid;
}

.label-allergies3{
    position: absolute;
    top: 240px;
    left: 672px;
    font-family: Avenir;
    font-size: 12px;
}

.input-allergies4{
    position: absolute;
    top:220px;
    left:980px;
    width: 240px;
    border-top: gray 1px solid;
    border-bottom: #3FAFB9 2px solid;
    border-left: gray 1px solid;
    border-right: gray 1px solid;
}

.label-allergies4{
    position: absolute;
    top: 240px;
    left: 982px;
    font-family: Avenir;
    font-size: 12px;
}

.input-surgery1{
    position: absolute;
    top:340px;
    left:30px;
    width: 240px;
    border-top: gray 1px solid;
    border-bottom: #3FAFB9 2px solid;
    border-left: gray 1px solid;
    border-right: gray 1px solid;
}

.label-surgery1{
    position: absolute;
    top: 360px;
    left: 32px;
    font-family: Avenir;
    font-size: 12px;
}

.input-surgery2{
    position: absolute;
    top:340px;
    left:350px;
    width: 240px;
    border-top: gray 1px solid;
    border-bottom: #3FAFB9 2px solid;
    border-left: gray 1px solid;
    border-right: gray 1px solid;
}

.label-surgery2{
    position: absolute;
    top: 360px;
    left: 352px;
    font-family: Avenir;
    font-size: 12px;
}

.input-surgery3{
    position: absolute;
    top:340px;
    left:670px;
    width: 240px;
    border-top: gray 1px solid;
    border-bottom: #3FAFB9 2px solid;
    border-left: gray 1px solid;
    border-right: gray 1px solid;
}

.label-surgery3{
    position: absolute;
    top: 360px;
    left: 672px;
    font-family: Avenir;
    font-size: 12px;
}

.input-surgery4{
    position: absolute;
    top:340px;
    left:980px;
    width: 240px;
    border-top: gray 1px solid;
    border-bottom: #3FAFB9 2px solid;
    border-left: gray 1px solid;
    border-right: gray 1px solid;
}

.label-surgery4{
    position: absolute;
    top: 360px;
    left: 982px;
    font-family: Avenir;
    font-size: 12px;
}

.div-delete{
    position: relative;
    top: 730px;
    left: 32px;
    height: 190px;
}

.label-delete{
    position: relative;
    font-family: Avenir;
    font-size: 20px;
    color: #FF213F;
}

.input-delete{
    width: 280px;
    border-top: gray 1px solid;
    border-bottom: #3FAFB9 2px solid;
    border-left: gray 1px solid;
    border-right: gray 1px solid;
    margin-bottom: 10px;
    margin-top: 10px;
}

.button-delete{
    position: absolute;
    top: 120px;
    left: 130px;
    width: 150px;
    margin-bottom: 20px;
    color: #494949 !important;
    text-transform: uppercase;
    background: #ffffff;
    padding: 5px;
    border: 2.5px solid #494949 !important;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    outline: none;
}

.button-delete:hover {
    color: #FF1635 !important;
    border-radius: 50px;
    border-color: #FF1635 !important;
    transition: all 0.3s ease 0s;
}

.button-Save{
    position: absolute;
    top: 420px;
    left: 1040px;
    width: 150px;
    color: #494949 !important;
    text-transform: uppercase;
    background: #ffffff;
    padding: 5px;
    border: 2.5px solid #494949 !important;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    outline: none;
}

.button-Save:hover {
    color: #20bf6b !important;
    border-radius: 50px;
    border-color: #20bf6b !important;
    transition: all 0.3s ease 0s;
}

/*-- PATIENTS MEDICATIONS --*/
.h2-Medications{

    font-family: "Helvetica";
    color: #3FAFB9;
    background-color: #0C182B;
}

a{
    position: absolute;
    top: 630px;
    left: 93%;
    color: black;
    text-decoration: none;
    font-family: "Arial Black";
}

.a-table{
    position: absolute;
    top: 630px;
    left: 3%;
    color: black;
    text-decoration: none;
    font-family: "Arial Black";
}

table {
    position: absolute;
    top: 28%;
    left: 3%;
    border-collapse: collapse;
    font-size: 18px;
    font-family: Avenir;
}

.th-med{
    background-color: #3FAFB9;
    color: white;
    font-family: Helvetica;
    font-size: 18px;
}

table, th, td {
    border: 1px solid black;
    width: 1200px;
    height: 35px;
    font-size: 18px;
    font-family: Avenir;
}

.input-table{
    border:0;
    width: 250px;
}

.button-SaveMed{
    position: absolute;
    top: 620px;
    left: 1048px;
    width: 150px;
    color: #494949 !important;
    text-transform: uppercase;
    background: #ffffff;
    padding: 5px;
    border: 2.5px solid #494949 !important;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    outline: none;
}

.button-SaveMed:hover {
    color: #20bf6b !important;
    border-radius: 50px;
    border-color: #20bf6b !important;
    transition: all 0.3s ease 0s;
}

.close-med{
    position: relative;
    top: 15px;
    left: 96%;
    width: 25px;
    height: 25px;
    opacity: 0.3;
}
.close-med:hover {
    opacity: 1;
}
.close-med:before, .close-med:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 25px;
    width: 2px;
    background-color: #FF243B;
}
.close-med:before {
    transform: rotate(45deg);
}
.close-med:after {
    transform: rotate(-45deg);
}

/*-- SEE PATIENT INFORMATION --*/
.p-FirstName{
    position: absolute;
    top:-18px;
    left: 30px;
    width: 240px;
    border-top: gray 1px solid;
    border-bottom: #3FAFB9 2px solid;
    border-left: gray 1px solid;
    border-right: gray 1px solid;
}

.p-MiddleName{
    position: absolute;
    top:-18px;
    left:350px;
    width: 240px;
    border-top: gray 1px solid;
    border-bottom: #3FAFB9 2px solid;
    border-left: gray 1px solid;
    border-right: gray 1px solid;
}

.p-LastName{
    position: absolute;
    top:-18px;
    left:670px;
    width: 240px;
    border-top: gray 1px solid;
    border-bottom: #3FAFB9 2px solid;
    border-left: gray 1px solid;
    border-right: gray 1px solid;
}

.p-birth{
    position: absolute;
    top:-18px;
    left:980px;
    width: 240px;
    border-top: gray 1px solid;
    border-bottom: #3FAFB9 2px solid;
    border-left: gray 1px solid;
    border-right: gray 1px solid;
}

.p-gender{
    position: absolute;
    top:64px;
    left: 30px;
    width: 245px;
    border-top: gray 1px solid;
    border-bottom: #3FAFB9 2px solid;
    border-left: gray 1px solid;
    border-right: gray 1px solid;
}

.p-MaritalStatus{
    position: absolute;
    top:64px;
    left: 350px;
    width: 245px;
    border-top: gray 1px solid;
    border-bottom: #3FAFB9 2px solid;
    border-left: gray 1px solid;
    border-right: gray 1px solid;
}

.p-phone{
    position: absolute;
    top:64px;
    left:670px;
    width: 240px;
    border-top: gray 1px solid;
    border-bottom: #3FAFB9 2px solid;
    border-left: gray 1px solid;
    border-right: gray 1px solid;
}

.p-city{
    position: absolute;
    top:64px;
    left:980px;
    width: 240px;
    border-top: gray 1px solid;
    border-bottom: #3FAFB9 2px solid;
    border-left: gray 1px solid;
    border-right: gray 1px solid;
}

.p-allergies1{
    position: absolute;
    top:204px;
    left:30px;
    width: 240px;
    border-top: gray 1px solid;
    border-bottom: #3FAFB9 2px solid;
    border-left: gray 1px solid;
    border-right: gray 1px solid;
}

.p-allergies2{
    position: absolute;
    top:204px;
    left:350px;
    width: 240px;
    border-top: gray 1px solid;
    border-bottom: #3FAFB9 2px solid;
    border-left: gray 1px solid;
    border-right: gray 1px solid;
}

.p-allergies3{
    position: absolute;
    top:204px;
    left:670px;
    width: 240px;
    border-top: gray 1px solid;
    border-bottom: #3FAFB9 2px solid;
    border-left: gray 1px solid;
    border-right: gray 1px solid;
}

.p-allergies4{
    position: absolute;
    top:204px;
    left:980px;
    width: 240px;
    border-top: gray 1px solid;
    border-bottom: #3FAFB9 2px solid;
    border-left: gray 1px solid;
    border-right: gray 1px solid;
}

.p-surgery1{
    position: absolute;
    top:324px;
    left:30px;
    width: 240px;
    border-top: gray 1px solid;
    border-bottom: #3FAFB9 2px solid;
    border-left: gray 1px solid;
    border-right: gray 1px solid;
}

.p-surgery2{
    position: absolute;
    top:324px;
    left:350px;
    width: 240px;
    border-top: gray 1px solid;
    border-bottom: #3FAFB9 2px solid;
    border-left: gray 1px solid;
    border-right: gray 1px solid;
}

.p-surgery3{
    position: absolute;
    top:324px;
    left:670px;
    width: 240px;
    border-top: gray 1px solid;
    border-bottom: #3FAFB9 2px solid;
    border-left: gray 1px solid;
    border-right: gray 1px solid;
}

.p-surgery4{
    position: absolute;
    top:324px;
    left:980px;
    width: 240px;
    border-top: gray 1px solid;
    border-bottom: #3FAFB9 2px solid;
    border-left: gray 1px solid;
    border-right: gray 1px solid;
}

.close {
    position: relative;
    top: -320px;
    left: 96.5%;
    width: 25px;
    height: 25px;
    opacity: 0.3;
}
.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 25px;
    width: 2px;
    background-color: #FF243B;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}


