/* NAVBAR */
* {
    padding: 0;
    margin: 0;
}
p {
    margin-bottom: 20px;
}
.wrapper {
    width: 80%;
    margin: auto;
    overflow:hidden;
}
header {
    background: #0C182B;
    width: 100%;
    position: fixed;
    z-index: 10;
    opacity: 0.95;
}

nav {
    float: left; /* Desplazamos el nav hacia la izquierda */
}
nav ul {
    list-style: none;
    overflow: hidden; /* Limpiamos errores de float */
}
nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
}
nav ul li button {
    display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
    padding: 18px;

    color: #fff;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
    font-size: 16px;
    outline: none;
}
nav ul li:hover {
    background: #2A878F;
}
.contenido {
    padding-top: 80px;
}


/* NAME-EDIT */
.img-user{
    position: absolute;
    top: 270px;
    left: 250px;
    height: 140px;
    width: 140px;
    vertical-align: text-bottom;
}

.img-logo{
    position: relative;
    top:2px;
    left: 0px;
    height: 55px;
    width: 135px;
}

.label-name{
    position: absolute;
    top:400px;
    left: 235px;
    font-size: 20px;
}

.button-editProfile{
    position: absolute;
    top: 430px;
    left: 235px;
    width: 170px;
    border: none;
    background: #3C4F6D;
    color: #ffffff !important;
    font-weight: 100;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    outline: none;
}

.button-editProfile:hover {
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
    outline: none;
}

/* INFO */
.label-DoctorName{
    position: absolute;
    top: 230px;
    left: 650px;
    font-size: 20px;
    font-family: Helvetica;
}

.hr-FirstName{
    position: absolute;
    top: 240px;
    left: 640px;
}

.label-FirstName{
    position: absolute;
    top: 260px;
    left: 650px;
    font-size: 16px;
    color: gray;
    font-family: Helvetica;
    color: #2A878F;
}

.label-DoctorLastName{
    position: absolute;
    top: 300px;
    left: 650px;
    font-size: 20px;
    font-family: Helvetica;
}

.hr-LastName{
    position: absolute;
    top: 310px;
    left: 640px;
}

.label-LastName{
    position: absolute;
    top: 330px;
    left: 650px;
    font-size: 16px;
    color: gray;
    font-family: Helvetica;
    color: #2A878F;
}

.label-DoctorAge{
    position: absolute;
    top: 370px;
    left: 650px;
    font-size: 20px;
    font-family: Helvetica;
}

.hr-Age{
    position: absolute;
    top: 380px;
    left: 640px;
}

.label-Age{
    position: absolute;
    top: 400px;
    left: 650px;
    font-size: 16px;
    color: gray;
    font-family: Helvetica;
    color: #2A878F;
}

.label-DoctorSpeciality{
    position: absolute;
    top: 440px;
    left: 650px;
    font-size: 20px;
    font-family: Helvetica;
}

.hr-speciality{
    position: absolute;
    top: 450px;
    left: 640px;
}

.label-speciality{
    position: absolute;
    top: 470px;
    left: 650px;
    font-size: 16px;
    color: gray;
    font-family: Helvetica;
    color: #2A878F;
}
