<!DOCTYPE html>
<html lang="en" xmlns:th="http:/>/www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Doctor Profile</title>

    <!--  CSS  -->
    <link href="../static/DoctorStyle.css" th:href="@{/DoctorStyle.css}" rel="stylesheet" />

</head>

<body>
    <h2 class="h2-Med">Medical History</h2>
    <div>
        <img src="https://image.flaticon.com/icons/png/512/44/44948.png">
        <label class="label-name" th:text="${firstname}"></label>
        <label class="label-rating">Rating:</label>

        <div class="star-rating">
            <a href="#">★</a>
            <a href="#">★</a>
            <a href="#">★</a>
            <a href="#">★</a>
            <a href="#">★</a>
        </div>

        <label class="label-DoctorName" th:text="${FirstName}"></label>
        <label class="hr-FirstName">____________________________________________</label>
        <label class="label-FirstName">First Name</label>

        <label class="label-DoctorLastName" th:text="${LastName}"></label>
        <label class="hr-LastName">____________________________________________</label>
        <label class="label-LastName">Last Name</label>

        <label class="label-DoctorAge"th:text="${Age}"></label>
        <label class="hr-Age">____________________________________________</label>
        <label class="label-Age">Age </label>

        <label class="label-DoctorSpeciality"th:text="${Speciality}"></label>
        <label class="hr-speciality">____________________________________________</label>
        <label class="label-speciality"> Speciality </label>

        <label class="label-ClinicAddress"th:text="${Address}"></label>
        <label class="hr-Address">____________________________________________</label>
        <label class="label-address"> Clinic address </label>
        <form th:action="@{/doctorprofile}" method="get">
            <button th:name="information" value="PatientsEditor" class="button-history">edit patients</button>
        </form>
    </div>
</body>
</html>