<!DOCTYPE html>
<html lang="en" xmlns:th="http:/>/www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Edit Information</title>

    <!--  CSS  -->
    <link href="../static/PatientInformationStyle.css" th:href="@{/PatientInformationStyle.css}" rel="stylesheet" />

    <!--  JavaScrip  -->
    <script type="text/javascript" src="../static/javaScript.js"></script>

</head>

<body>
    <img th:src="@{images/WhiteHistorically.png}" class="img-logo">

    <div class="div-pInformation">
        <h2 class="h2-pInformation">PATIENT INFORMATION</h2>
    </div>

    <div class="div-allergies">
        <h2 class="h2-allergies">ALLERGIES</h2>
    </div>

    <div class="div-surgery">
        <h2 class="h2-surgery">PAST SURGERY INFORMATION</h2>
    </div>

    <div class="div-Info">
        <p id="FirstName" th:text="${FirstName}" class="p-FirstName"></p>
        <label for="FirstName" class="label-FirstName">First Name</label><br>

        <p id="MiddleName" th:text="${MiddleName}" class="p-MiddleName"></p>
        <label for="MiddleName" class="label-MiddleName">Middle Name</label><br>

        <p id="LastName" th:text="${LastName}" class="p-LastName"></p>
        <label for="LastName" class="label-LastName">Last Name</label><br>

        <p id="birth" th:text="${birth}" class="p-birth"></p>
        <label for="birth" class="label-birth">Birth</label><br>

        <p id="gender" th:text="${gender}" class="p-gender"></p>
        <label for="gender" class="label-gender">Gender</label><br>

        <p id="MaritalStatus" th:text="${MaritalStatus}" class="p-MaritalStatus"></p>
        <label for="MaritalStatus" class="label-MaritalStatus">Marital Status</label><br>

        <p id="phone" th:text="${phone}" class="p-phone"></p>
        <label for="phone" class="label-phone">Phone</label><br>

        <p id="city" th:text="${city}" class="p-city"></p>
        <label for="city" class="label-city">City</label><br>

        <form th:action="@{/doctorediting}" method="post">
            <input type="text" id="allergies1" th:name="allergies1" class="input-allergies1"/>

            <input type="text" id="allergies2" th:name="allergies2" class="input-allergies2"/>

            <input type="text" id="allergies3" th:name="allergies3" class="input-allergies3"/>

            <input type="text" id="allergies4" th:name="allergies4" class="input-allergies4"/>

            <input type="text" id="surgery1" th:name="surgery1" class="input-surgery1"/>

            <input type="text" id="surgery2" th:name="surgery2" class="input-surgery2"/>

            <input type="text" id="surgery3" th:name="surgery3" class="input-surgery3"/>

            <input type="text" id="surgery4" th:name="surgery4" class="input-surgery4"/>

            <button type="submit" class="button-Save">Save Changes</button>
        </form>
    </div>

</body>
</html>