<!DOCTYPE html>
<html lang="en" xmlns:th="http:/>/www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Edit Profile</title>

    <!--  CSS  -->
    <link href="../static/DoctorStyle.css" th:href="@{/DoctorStyle.css}" rel="stylesheet" />

</head>

<body>
    <!--    NAVBAR     -->
    <div>
        <header>
            <section class="wrapper">
                <form th:action="@{/doctorprofile}" method="get">
                    <nav>
                        <ul>
                            <li><img th:src="@{/images/LogoAzul.png}" class="img-logo"></li>
                            <h2 class="h2-edit">EDIT PROFILE</h2>
                        </ul>
                    </nav>
                </form>
            </section>
        </header>
    </div>

    <!--    EDIT PROFILE     -->
    <div>
        <img src="https://image.flaticon.com/icons/png/512/44/44948.png">
        <label class="label-rating">Rating:</label>
        <div class="star-rating">
            <a href="#">★</a>
            <a href="#">★</a>
            <a href="#">★</a>
            <a href="#">★</a>
            <a href="#">★</a>
            <form th:action="@{/deleter}" method="post">
                <input type="text" th:name="emai" placeholder="email"><br>
                <input type="text" th:name="pas" placeholder="password"><br>
                <button   type="submit">delete user</button>
            </form>
        </div>

    </div>

    <!--    INFO     -->
    <div>
        <form th:action="@{/doctorinformation}" method="post">
            <input type="text" id="name" th:name="name"  class="input-DoctorName"/>
            <label class="label-FirstName">First Name</label>

            <input type="text" id="LastName" th:name="LastName"  class="input-DoctorLastName"/>
            <label class="label-LastName">Last Name</label>

            <input type="text" id="age" th:name="age"  class="input-DoctorAge"/>
            <label class="label-Age">Age </label>

            <input type="text" id="specialty" th:name="specialty"  class="input-DoctorSpeciality"/>
            <label class="label-speciality"> Speciality </label>

            <input type="text" id="clinicAddress" th:name="clinicAddress"  class="input-ClinicAddress"/>
            <label class="label-address"> Clinic address </label>

            <button type="submit" class="button-Save">Save Changes</button>
        </form>

    </div>
</body>
</html>