<!DOCTYPE html>
<html lang="en" xmlns:th="http:/>/www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Log In</title>

    <link href="../static/loginStyle.css" th:href="@{/loginStyle.css}" rel="stylesheet" />

</head>
<body>
    <h2 class="h2-medicalHistory">Medical History LOGO</h2>
    <h2 class="h2-login">LOG IN</h2>
    <div class="div-signup">
        <form th:action="@{/login}" method="post">

            <input type="radio" id="doctor" th:name="UserType" value="doctor" class="input-doctor">
            <label for="doctor" class="label-doctor">Doctor</label><br>
            <input type="radio" id="patient" th:name="UserType" value="patient" class="input-patient">
            <label for="patient" class="label-patient">Patient</label><br>

            <input type="text" id="email" th:name="email" placeholder="email@example.com" class="input-email">
            <input type="password" id="password" th:name="password" placeholder="Password" class="input-password">

            <button type="submit" class="button-SigUpSubmit">Log In</button>
        </form>
    </div>

    <div class="div-get">
        <p class="p-noAccount"> NoAccount? </p>
        <form th:action="@{/getsignup}" method="get">
            <button type="submit" class="button-signup">Signup</button>
        </form>
    </div>

</body>
</html>