<!DOCTYPE html>
<html lang="en" xmlns:th="http:/>/www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title> Manage Access</title>

    <!--  CSS  -->
    <link href="../static/ManageAccessStyle.css" th:href="@{/ManageAccessStyle.css}" rel="stylesheet" />
</head>
<body>
    <img th:src="@{/images/LogoBlanco.png}" class="img-logo">
    <a th:href="@{/getpatientprofile}" class="exit"></a>

    <div id="headTitle">
<!--        <h2 id="title">Manage Access</h2>-->
    </div>

    <button id="addBtn" onclick="AddNewDoc()">Invite a Doctor</button>
    <div id="docInfo">
        <form modelAttribute="patient" name="patient" action="/ManageAccess" method="post" >
            <input type="text" class="info" name="DocName" placeholder="Doctor Name">
            <br><br><br>
            <input type="text" class="info" name = "email" placeholder="Doctor Email">
            <br><br><br>
            <input type="text" class="info" name = "specialty" placeholder="Doctor Specialty">
            <br><br><br>
            <br><br><br>
            <input type="text" class="info" name = "youremail" placeholder="your email">
            <br><br><br>
            <button type="submit" id="AddDoc">Add New Doctor</button>
        </form>
    </div>

    <div id="Editors">
        <div id="whoTitle">
            WHO CAN EDIT?
        </div>
        <div id="doctors">
            <div class="grid-container">
                <div class="grid-item">
                    Name
                </div>
                <div class="grid-item">
                    Contact
                </div>
                <div class="grid-item" >
                    Speciality
                </div>
                <div class="grid-item">
                    Delete
                </div>
            </div>

            <tr th:each="doctor : ${allowedDoctors}">
                <div id="doc" class="grid-container">
                    <div class="grid-item" id="DoctorsName">
                        <td th:text="${doctor.name}"></td>
                    </div>
                    <div class="grid-item" id="DoctorsEmail">
                        <td th:text="${doctor.email}"></td>
                    </div>
                    <div class="grid-item" id="DoctorsSpec">
                        <td th:text="${doctor.specialty}"></td>
                    </div>
<!-----------------------------------DELETE------------------------>
                    <div class="grid-item">
                        <button id="delPop" onclick="document.getElementById('id01').style.display='block'">x</button>
                        <div id="id01" class="modal">
                            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                            <form class="modal-content" th:action="@{deleteDoctorAccess}">
                                <div class="container">
                                    <h1>Delete Doctor</h1>
                                    <p>Are you sure you want to delete this doctor?</p>
                                    <td th:text="${doctor.email}" th:with="email=${doctor.email}"></td>

                                    <div class="clearFix">
                                            <button name="subButton" th:value="${doctor.email}" type="submit" class="deleteBtn" id="delete">Delete</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </tr>
        </div>
    </div>

    <script>
        function AddNewDoc() {
            let btn = document.getElementById("addBtn");
            let newDoctor = document.getElementById("docInfo");
            if (newDoctor.style.display === "none") {
                newDoctor.style.display = "block";
            } else {
                newDoctor.style.display = "none";
                btn.style.display = "inline";
            }
        }

        let modal = document.getElementById('id01');
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
</body>
</html>