<!DOCTYPE html>
<html lang="en" xmlns:th="http:/>/www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Edit Medications</title>

    <!--  CSS  -->
    <link href="../static/PatientInformationStyle.css" th:href="@{/PatientInformationStyle.css}" rel="stylesheet" />

</head>
<body>
    <img th:src="@{/images/LogoBlanco.png}" class="img-logo">
<!--    <img src="images/LogoBlanco.png" class="img-logo">-->

    <div class="div-pInformation">
        <h2 class="h2-pInformation">MEDICATIONS CURRENTLY BEING TAKEN</h2>
    </div>

    <form th:action="@{/doctoreditingmeds}" method="post">
        <table>
            <tr>
                <th class="th-med">Medication Name</th>
                <th class="th-med">Dosage</th>
                <th class="th-med">Frequency</th>
                <th class="th-med">Reason</th>
            </tr>

            <tr>
                <th><input type="text" id="M1" th:name="med1[0]" class="input-table"/></th>
                <th><input type="text" id="D1" th:name="med1[1]" class="input-table"/></th>
                <th><input type="text" id="F1" th:name="med1[2]" class="input-table"/></th>
                <th><input type="text" id="R1" th:name="med1[3]" class="input-table"/></th>
            </tr>

            <tr>
                <th><input type="text" id="M2" th:name="med2[0]" class="input-table"/></th>
                <th><input type="text" id="D2" th:name="med2[1]" class="input-table"/></th>
                <th><input type="text" id="F2" th:name="med2[2]" class="input-table"/></th>
                <th><input type="text" id="R2" th:name="med2[3]" class="input-table"/></th>
            </tr>

            <tr>
                <th><input type="text" id="M3" th:name="med3[0]" class="input-table"/></th>
                <th><input type="text" id="D3" th:name="med3[1]" class="input-table"/></th>
                <th><input type="text" id="F3" th:name="med3[2]" class="input-table"/></th>
                <th><input type="text" id="R3" th:name="med3[3]" class="input-table"/></th>
            </tr>

            <tr>
                <th><input type="text" id="M4" th:name="med4[0]" class="input-table"/></th>
                <th><input type="text" id="D4" th:name="med4[1]" class="input-table"/></th>
                <th><input type="text" id="F4" th:name="med4[2]" class="input-table"/></th>
                <th><input type="text" id="R4" th:name="med4[3]" class="input-table"/></th>
            </tr>

            <tr>
                <th><input type="text" id="M5" th:name="med5[0]" class="input-table"/></th>
                <th><input type="text" id="D5" th:name="med5[1]" class="input-table"/></th>
                <th><input type="text" id="F5" th:name="med5[2]" class="input-table"/></th>
                <th><input type="text" id="R5" th:name="med5[3]" class="input-table"/></th>
            </tr>

            <tr>
                <th><input type="text" id="M6" th:name="med6[0]" class="input-table"/></th>
                <th><input type="text" id="D6" th:name="med6[1]" class="input-table"/></th>
                <th><input type="text" id="F6" th:name="med6[2]" class="input-table"/></th>
                <th><input type="text" id="R6" th:name="med6[3]" class="input-table"/></th>
            </tr>

            <tr>
                <th><input type="text" id="M7" th:name="med7[0]" class="input-table"/></th>
                <th><input type="text" id="D7" th:name="med7[1]" class="input-table"/></th>
                <th><input type="text" id="F7" th:name="med7[2]" class="input-table"/></th>
                <th><input type="text" id="R7" th:name="med7[3]" class="input-table"/></th>
            </tr>

            <tr>
                <th><input type="text" id="M8" th:name="med8[0]" class="input-table"/></th>
                <th><input type="text" id="D8" th:name="med8[1]" class="input-table"/></th>
                <th><input type="text" id="F8" th:name="med8[2]" class="input-table"/></th>
                <th><input type="text" id="R8" th:name="med8[3]" class="input-table"/></th>
            </tr>

        </table>

        <button class="button-SaveMed">Save Changes</button>
    </form>


</body>
</html>