<!DOCTYPE html>
<html lang="en" xmlns:th="http:/>/www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Edit Medications</title>

    <!--  CSS  -->
    <link href="../static/PatientInformationStyle.css" th:href="@{/PatientInformationStyle.css}" rel="stylesheet" />

</head>
<body>
    <img th:src="@{images/WhiteHistorically.png}" class="img-logo">

    <div class="div-pInformation">
        <h2 class="h2-pInformation">MEDICATIONS CURRENTLY BEING TAKEN</h2>
    </div>

    <form th:action="@{/doctoreditingmeds}" method="post">
        <table>
            <tr>
                <th class="th-med">Medication Name</th>
                <th class="th-med">Dosage</th>
                <th class="th-med">Frequency</th>
                <th class="th-med">Reason</th>
            </tr>

            <tr>
                <th><input type="text" id="M1" th:name="M1" class="input-table"/></th>
                <th><input type="text" id="D1" th:name="D1" class="input-table"/></th>
                <th><input type="text" id="F1" th:name="F1" class="input-table"/></th>
                <th><input type="text" id="R1" th:name="R1" class="input-table"/></th>
            </tr>

            <tr>
                <th><input type="text" id="M2" th:name="M2" class="input-table"/></th>
                <th><input type="text" id="D2" th:name="D2" class="input-table"/></th>
                <th><input type="text" id="F2" th:name="F2" class="input-table"/></th>
                <th><input type="text" id="R2" th:name="R2" class="input-table"/></th>
            </tr>

            <tr>
                <th><input type="text" id="M3" th:name="M3" class="input-table"/></th>
                <th><input type="text" id="D3" th:name="D3" class="input-table"/></th>
                <th><input type="text" id="F3" th:name="F3" class="input-table"/></th>
                <th><input type="text" id="R3" th:name="R3" class="input-table"/></th>
            </tr>

            <tr>
                <th><input type="text" id="M4" th:name="M4" class="input-table"/></th>
                <th><input type="text" id="D4" th:name="D4" class="input-table"/></th>
                <th><input type="text" id="F4" th:name="F4" class="input-table"/></th>
                <th><input type="text" id="R4" th:name="R4" class="input-table"/></th>
            </tr>

            <tr>
                <th><input type="text" id="M5" th:name="M5" class="input-table"/></th>
                <th><input type="text" id="D5" th:name="D5" class="input-table"/></th>
                <th><input type="text" id="F5" th:name="F5" class="input-table"/></th>
                <th><input type="text" id="R5" th:name="R5" class="input-table"/></th>
            </tr>

            <tr>
                <th><input type="text" id="M6" th:name="M6" class="input-table"/></th>
                <th><input type="text" id="D6" th:name="D6" class="input-table"/></th>
                <th><input type="text" id="F6" th:name="F6" class="input-table"/></th>
                <th><input type="text" id="R6" th:name="R6" class="input-table"/></th>
            </tr>

            <tr>
                <th><input type="text" id="M7" th:name="M7" class="input-table"/></th>
                <th><input type="text" id="D7" th:name="D7" class="input-table"/></th>
                <th><input type="text" id="F7" th:name="F7" class="input-table"/></th>
                <th><input type="text" id="R7" th:name="R7" class="input-table"/></th>
            </tr>

            <tr>
                <th><input type="text" id="M8" th:name="M8" class="input-table"/></th>
                <th><input type="text" id="D8" th:name="D8" class="input-table"/></th>
                <th><input type="text" id="F8" th:name="F8" class="input-table"/></th>
                <th><input type="text" id="R8" th:name="R8" class="input-table"/></th>
            </tr>

        </table>

        <button class="button-SaveMed">Save Changes</button>
    </form>


</body>
</html>