<!DOCTYPE html>
<html lang="en" xmlns:th="http:/>/www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Patients Editor</title>

    <!--  CSS  -->
    <link href="../static/DoctorStyle.css" th:href="@{/DoctorStyle.css}" rel="stylesheet" />

</head>

<body>
    <img th:src="@{/images/LogoBlanco.png}" class="img-BigLogo">
    <!--    <img src="images/LogoBlanco.png" class="img-logo">-->

    <div class="div-Information">
        <h2 class="h2-Information">MY PATIENTS</h2>
    </div>

    <!--    PATIENTS LIST     -->
    <div class="div-listPatients">
        <tr th:each="patient : ${allowedPatients}">
            <td th:text="${patient.email}"></td>
        </tr>

        <form th:action="@{/access}" method="post">
            <input type="text" id="patient" th:name="patient" placeholder="Patient Email" class="input-email">

            <input type="radio" id="info" th:name="path" value="info" class="input-doctor">
            <label for="info" class="label-doctor">Edit Information</label><br>

            <input type="radio" id="meds" th:name="path" value="meds" class="input-patient">
            <label for="meds" class="label-patient">Edit Meds</label><br>

            <button type="submit" style="position: relative; top: 300px; left: 100px">Edit</button>
        </form>

    </div>

<!--    <form th:action="@{/doceditpatientinformation}" method="get">-->
<!--        <button type="submit" style="position: relative; top: 300px; left: 100px">Edit Info</button>-->
<!--    </form>-->

<!--    <form th:action="@{/doceditpatientmedications}" method="get">-->
<!--        <button type="submit" style="position: relative; top: 400px; left: 100px">Edit Meds</button>-->
<!--    </form>-->

    <a th:href="@{/getdoctorprofile}" class="close"></a>

</body>
</html>