<!DOCTYPE html>
<html lang="en" xmlns:th="http:/>/www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Edit Information</title>

    <!--  CSS  -->
    <link href="../static/PatientInformationStyle.css" th:href="@{/PatientInformationStyle.css}" rel="stylesheet" />

    <!--  JavaScrip  -->
    <script type="text/javascript" src="../static/javaScript.js"></script>

</head>

<body>
    <img th:src="@{/images/LogoBlanco.png}" class="img-logo">
<!--    <img src="images/LogoBlanco.png" class="img-logo">-->
    <form th:action="@{/deleterp}" method="post">
        <input type="text" th:name="emai" placeholder="email"><br>
        <input type="text" th:name="pas" placeholder="password"><br>
        <button   type="submit">delete user</button>
    </form>
    <div class="div-pInformation">
        <h2 class="h2-pInformation">PATIENT INFORMATION</h2>
    </div>

    <div class="div-allergies">
        <h2 class="h2-allergies">ALLERGIES</h2>
    </div>

    <div class="div-surgery">
        <h2 class="h2-surgery">PAST SURGERY INFORMATION</h2>
    </div>

    <div class="div-Info">
        <form th:action="@{/patientinformation}" method="post">
            <input type="text" id="FirstName" th:name="FirstName"  class="input-FirstName"/>
            <label for="FirstName" class="label-FirstName">First Name</label><br>

            <input type="text" id="MiddleName" th:name="MiddleName" class="input-MiddleName"/>
            <label for="MiddleName" class="label-MiddleName">Middle Name</label><br>

            <input type="text" id="LastName" th:name="LastName" class="input-LastName"/>
            <label for="LastName" class="label-LastName">Last Name</label><br>

            <input type="text" id="birth" th:name="birth" class="input-birth"/>
            <label for="birth" class="label-birth">Birth</label><br>

            <select id="gender" th:name="gender" class="select-gender">
                <option>Select</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
            <label for="gender" class="label-gender">Gender</label><br>

            <select id="MaritalStatus" th:name="MaritalStatus" class="select-MaritalStatus">
                <option>Select</option>
                <option value="single">Single</option>
                <option value="married">Married</option>
                <option value="widowed">Widowed</option>
                <option value="separated">Separated</option>
                <option value="divorced">Divorced</option>
            </select>
            <label for="MaritalStatus" class="label-MaritalStatus">Marital Status</label><br>

            <input type="text" id="phone" th:name="phone" class="input-phone"/>
            <label for="phone" class="label-phone">Phone</label><br>

            <input type="text" id="city" th:name="city" class="input-city"/>
            <label for="city" class="label-city">City</label><br>

            <input type="text" id="allergies1" th:name="allergies1" class="input-allergies1" disabled/>

            <input type="text" id="allergies2" th:name="allergies2" class="input-allergies2" disabled/>

            <input type="text" id="allergies3" th:name="allergies3" class="input-allergies3" disabled/>

            <input type="text" id="allergies4" th:name="allergies4" class="input-allergies4" disabled/>

            <input type="text" id="surgery1" th:name="surgery1" class="input-surgery1" disabled/>

            <input type="text" id="surgery2" th:name="surgery2" class="input-surgery2" disabled/>

            <input type="text" id="surgery3" th:name="surgery3" class="input-surgery3" disabled/>

            <input type="text" id="surgery4" th:name="surgery4" class="input-surgery4" disabled/>

            <button type="submit" class="button-Save">Save Changes</button>

        </form>
    </div>

</body>
</html>