<!DOCTYPE html>
<html lang="en" xmlns:th="http:/>/www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Patient Profile</title>

    <!--  CSS  -->
    <link href="../static/PatientStyle.css" th:href="@{/PatientStyle.css}" rel="stylesheet" />

</head>

<body>
    <h2 class="h2-Med">Medical History</h2>
    <div>
        <img src="https://image.flaticon.com/icons/png/512/44/44948.png">
        <label class="label-name" th:text="${FullName}"></label>

        <form th:action="@{/patientprofile}" method="get">
            <button th:name="information" value="PatientInformation" class="button-history">Medical History</button>
            <button th:name="information" value="PatientsMedications" class="button-medications">Medications</button>
            <button th:name="information" value="ManageAccess" class="button-access">Manage Access</button>
            <button class="button-consult">Schedule Consultation</button>
        </form>

    </div>

</body>
</html>