<!DOCTYPE html>
<html lang="en" xmlns:th="http:/>/www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Patients Editor</title>

    <!--  CSS  -->
    <link href="../static/DoctorStyle.css" th:href="@{/DoctorStyle.css}" rel="stylesheet" />

</head>

<body>
    <img th:src="@{/images/LogoBlanco.png}" class="img-BigLogo">
    <!--    <img src="images/LogoBlanco.png" class="img-logo">-->

    <div class="div-Information">
        <h2 class="h2-Information">MY PATIENTS</h2>
    </div>

    <!--    PATIENTS LIST     -->
    <div class="div-listPatients">
        <form th:action="@{/access}" method="post">
        <input type="text" id="patient" th:name="patient" placeholder="Patient Email" class="input-email">
        </form>
    </div>

    <form th:action="@{/doceditpatientinformation}" method="get">
        <button type="submit" style="position: relative; top: 300px; left: 100px">Edit Profile</button>
    </form>

    <a th:href="@{/getdoctorprofile}" class="close"></a>

</body>
</html>