<!DOCTYPE html>
<html lang="en" xmlns:th="http:/>/www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Doctor Schedule</title>

    <!--  CSS  -->
    <link href="../static/ScheduleStyle.css" th:href="@{/ScheduleStyle.css}" rel="stylesheet"/>

</head>
<body>
    <!--    NAVBAR     -->
    <img th:src="@{images/WhiteHistorically.png}" class="img-BigLogo">

    <div class="div-pInformation">
        <h2 class="h2-pInformation">DOCTOR SCHEDULE</h2>
    </div>

    <div class="div-list">
        <h2 class="h2-list">MY APPOINTMENTS</h2>
    </div>

    <!--    SCHEDULE     -->
    <div class="div-schedule2">
        <label class="label-days">MONDAY:</label>
        <p id="sMonday" th:text="${sMonday}" class="p-start"></p>
        <label class="label-to">to</label>
        <p id="eMonday" th:text="${eMonday}" class="p-start"></p>

        <label class="label-days">TUESDAY</label>
        <p id="sTuesday" th:text="${sTuesday}" class="p-start"></p>
        <label class="label-to">to</label>
        <p id="eTuesday" th:text="${eTuesday}" class="p-start"></p>

        <label class="label-days">WEDNESDAY</label>
        <p id="sWednesday" th:text="${sWednesday}" class="p-start"></p>
        <label class="label-to">to</label>
        <p id="eWednesday" th:text="${eWednesday}" class="p-start"></p>

        <label class="label-days">THURSDAY</label>
        <p id="sThursday" th:text="${sThursday}" class="p-start"></p>
        <label class="label-to">to</label>
        <p id="eThursday" th:text="${eThursday}" class="p-start"></p>

        <label class="label-days">FRIDAY</label>
        <p id="sFriday" th:text="${sFriday}" class="p-start"></p>
        <label class="label-to">to</label>
        <p id="eFriday" th:text="${eFriday}" class="p-start"></p>

        <div class="div-2nd2">
            <label class="label-days">SATURDAY</label>
            <p id="sSaturday" th:text="${sSaturday}" class="p-start"></p>
            <label class="label-to">to</label>
            <p id="eSaturday" th:text="${eSaturday}" class="p-start"></p>

            <label class="label-days">SUNDAY</label>
            <p id="sSunday" th:text="${sSunday}" class="p-start"></p>
            <label class="label-to">to</label>
            <p id="eSunday" th:text="${eSunday}" class="p-start"></p>
        </div>
    </div>

    <!--    APPOINTMENT     -->
    <div class="div-makeAp">
        <h2 class="h2-makeAp">MAKE APPOINTMENT:</h2>
        <form th:action="@{/confirm}" method="post">
            <input type="text" th:name="day" placeholder="Date - Time" class="input-date"><br>
            <button name="rate" type="submit" class="button-makeAp">CONFIRM</button>
        </form>
    </div>

    <!--    APPOINTMENT'S LIST     -->
    <div>
        <tr th:each="user :${Patment}">
            <td  th:text="${user}"></td>
        </tr>
    </div>


    <a th:href="@{/getpatientprofile}" class="close-med"></a>
</body>
</html>