<!DOCTYPE html>
<html lang="en" xmlns:th="http:/>/www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Medications</title>

    <!--  CSS  -->
    <link href="../static/PatientInformationStyle.css" th:href="@{/PatientInformationStyle.css}" rel="stylesheet" />

</head>
<body>
    <img th:src="@{/images/LogoBlanco.png}" class="img-logo">
    <!--    <img src="images/LogoBlanco.png" class="img-logo">-->

    <div class="div-pInformation">
        <h2 class="h2-pInformation">MEDICATIONS CURRENTLY BEING TAKEN</h2>
    </div>

    <table>
        <tr>
            <th class="th-med">Medication Name</th>
            <th class="th-med">Dosage</th>
            <th class="th-med">Frequency</th>
            <th class="th-med">Reason</th>
        </tr>

        <tr th:each="info : ${med1}">
            <th th:name="info[0]" class="input-table"></th>
            <th th:name="info[1]" class="input-table"></th>
            <th th:name="info[2]" class="input-table"></th>
            <th th:name="info[3]" class="input-table"></th>
        </tr>

        <tr th:each="info : ${med2}">
            <th th:name="info[0]" class="input-table"></th>
            <th th:name="info[1]" class="input-table"></th>
            <th th:name="info[2]" class="input-table"></th>
            <th th:name="info[3]" class="input-table"></th>
        </tr>

        <tr th:each="info : ${med3}">
            <th th:name="info[0]" class="input-table"></th>
            <th th:name="info[1]" class="input-table"></th>
            <th th:name="info[2]" class="input-table"></th>
            <th th:name="info[3]" class="input-table"></th>
        </tr>

        <tr th:each="info : ${med4}">
            <th th:name="info[0]" class="input-table"></th>
            <th th:name="info[1]" class="input-table"></th>
            <th th:name="info[2]" class="input-table"></th>
            <th th:name="info[3]" class="input-table"></th>
        </tr>

        <tr th:each="info : ${med5}">
            <th th:name="info[0]" class="input-table"></th>
            <th th:name="info[1]" class="input-table"></th>
            <th th:name="info[2]" class="input-table"></th>
            <th th:name="info[3]" class="input-table"></th>
        </tr>

        <tr th:each="info : ${med6}">
            <th th:name="info[0]" class="input-table"></th>
            <th th:name="info[1]" class="input-table"></th>
            <th th:name="info[2]" class="input-table"></th>
            <th th:name="info[3]" class="input-table"></th>
        </tr>

        <tr th:each="info : ${med7}">
            <th th:name="info[0]" class="input-table"></th>
            <th th:name="info[1]" class="input-table"></th>
            <th th:name="info[2]" class="input-table"></th>
            <th th:name="info[3]" class="input-table"></th>
        </tr>

        <tr th:each="info : ${med8}">
            <th th:name="info[0]" class="input-table"></th>
            <th th:name="info[1]" class="input-table"></th>
            <th th:name="info[2]" class="input-table"></th>
            <th th:name="info[3]" class="input-table"></th>
        </tr>
    </table>

    <a th:href="@{/getpatientprofile}" class="close-med"></a>

</body>
</html>