<!DOCTYPE html>
<html lang="en" xmlns:th="http:/>/www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Medications</title>

    <!--  CSS  -->
    <link href="../static/PatientInformationStyle.css" th:href="@{/PatientInformationStyle.css}" rel="stylesheet" />

</head>
<body>
    <img th:src="@{/images/LogoBlanco.png}" class="img-logo">
    <!--    <img src="images/LogoBlanco.png" class="img-logo">-->

    <div class="div-pInformation">
        <h2 class="h2-pInformation">MEDICATIONS CURRENTLY BEING TAKEN</h2>
    </div>

    <table>
        <tr>
            <th class="th-med">Medication Name</th>
            <th class="th-med">Dosage</th>
            <th class="th-med">Frequency</th>
            <th class="th-med">Reason</th>
        </tr>

        <tr>
            <th th:name="med1[0]" class="input-table"></th>
            <th th:name="med1[1]" class="input-table"></th>
            <th th:name="med1[2]" class="input-table"></th>
            <th th:name="med1[3]" class="input-table"></th>
        </tr>

        <tr>
            <th th:name="med2[0]" class="input-table"></th>
            <th th:name="med2[1]" class="input-table"></th>
            <th th:name="med2[2]" class="input-table"></th>
            <th th:name="med2[3]" class="input-table"></th>
        </tr>

        <tr>
            <th th:name="med3[0]" class="input-table"></th>
            <th th:name="med3[1]" class="input-table"></th>
            <th th:name="med3[2]" class="input-table"></th>
            <th th:name="med3[3]" class="input-table"></th>
        </tr>

        <tr>
            <th th:name="med4[0]" class="input-table"></th>
            <th th:name="med4[1]" class="input-table"></th>
            <th th:name="med4[2]" class="input-table"></th>
            <th th:name="med4[3]" class="input-table"></th>
        </tr>

        <tr>
            <th th:name="med5[0]" class="input-table"></th>
            <th th:name="med5[1]" class="input-table"></th>
            <th th:name="med5[2]" class="input-table"></th>
            <th th:name="med5[3]" class="input-table"></th>
        </tr>

        <tr>
            <th th:name="med6[0]" class="input-table"></th>
            <th th:name="med6[1]" class="input-table"></th>
            <th th:name="med6[2]" class="input-table"></th>
            <th th:name="med6[3]" class="input-table"></th>
        </tr>

        <tr>
            <th th:name="med7[0]" class="input-table"></th>
            <th th:name="med7[1]" class="input-table"></th>
            <th th:name="med7[2]" class="input-table"></th>
            <th th:name="med7[3]" class="input-table"></th>
        </tr>

        <tr>
            <th th:name="med8[0]" class="input-table"></th>
            <th th:name="med8[1]" class="input-table"></th>
            <th th:name="med8[2]" class="input-table"></th>
            <th th:name="med8[3]" class="input-table"></th>
        </tr>
    </table>

    <a th:href="@{/getpatientprofile}" class="close-med"></a>

</body>
</html>