<!DOCTYPE html>
<html lang="en" xmlns:th="http:/>/www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Information</title>

    <!--  CSS  -->
    <link href="../static/PatientInformationStyle.css" th:href="@{/PatientInformationStyle.css}" rel="stylesheet" />

</head>

<body>
    <img th:src="@{images/WhiteHistorically.png}" class="img-logo">

    <div class="div-pInformation">
        <h2 class="h2-pInformation">PATIENT INFORMATION</h2>
    </div>

    <div class="div-allergies">
        <h2 class="h2-allergies">ALLERGIES</h2>
    </div>

    <div class="div-surgery">
        <h2 class="h2-surgery">PAST SURGERY INFORMATION</h2>
    </div>

    <div class="div-Info">
        <p id="FirstName" th:text="${FirstName}" class="p-FirstName"></p>
        <label for="FirstName" class="label-FirstName">First Name</label><br>

        <p id="MiddleName" th:text="${MiddleName}" class="p-MiddleName"></p>
        <label for="MiddleName" class="label-MiddleName">Middle Name</label><br>

        <p id="LastName" th:text="${LastName}" class="p-LastName"></p>
        <label for="LastName" class="label-LastName">Last Name</label><br>

        <p id="birth" th:text="${birth}" class="p-birth"></p>
        <label for="birth" class="label-birth">Birth</label><br>

        <p id="gender" th:text="${gender}" class="p-gender"></p>
        <label for="gender" class="label-gender">Gender</label><br>

        <p id="MaritalStatus" th:text="${MaritalStatus}" class="p-MaritalStatus"></p>
        <label for="MaritalStatus" class="label-MaritalStatus">Marital Status</label><br>

        <p id="phone" th:text="${phone}" class="p-phone"></p>
        <label for="phone" class="label-phone">Phone</label><br>

        <p id="city" th:text="${city}" class="p-city"></p>
        <label for="city" class="label-city">City</label><br>

        <p id="allergies1" th:text="${allergies1}" class="p-allergies1"></p>

        <p id="allergies2" th:text="${allergies2}" class="p-allergies2"></p>

        <p id="allergies3" th:text="${allergies3}" class="p-allergies3"></p>

        <p id="allergies4" th:text="${allergies4}" class="p-allergies4"></p>

        <p id="surgery1" th:text="${surgery1}" class="p-surgery1"></p>

        <p id="surgery2" th:text="${surgery2}" class="p-surgery2"></p>

        <p id="surgery3" th:text="${surgery3}" class="p-surgery3"></p>

        <p id="surgery4" th:text="${surgery4}" class="p-surgery4"></p>

        <a th:href="@{/getpatientprofile}" class="close"></a>

    </div>

</body>
</html>